@model IEnumerable<Roulette.ASP.NETCore.Models.BetModel>

<link rel="stylesheet" runat="server" href="~/css/BetList.css"/>

<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                <p>@Html.DisplayFor(modelItem => item.Number)</p>
            </td>
            <td>
                <p>@Html.DisplayFor(modelItem => item.Color)</p>
            </td>
            <td>
                <p>@Html.DisplayFor(modelItem => item.IsEven)</p>
            </td>
            <td>
                <p>@Html.DisplayFor(modelItem => item.FirstNumber)</p>
            </td>
            <td>
                <p>@Html.DisplayFor(modelItem => item.SecondNumber)</p>
            </td>
            <td>
                <p>@Html.DisplayFor(modelItem => item.Stake)</p>
            </td>
            <td>
                <p>@Html.DisplayFor(modelItem => item.Odd)</p>
            </td>
            <td>
                <p>@Html.DisplayFor(modelItem => item.Type)</p>
            </td>
        </tr>
        }
    </tbody>
</table>
